<ul class="list">
  <li class="listItem" ng-click="itemClicked" ng-repeat="letter in listData">{{letter}}</li>
</ul>

<style>
  .listWrapper {
    display: flex;
    flex-direction: column;
    width: 225px;
  }

  .list {
    padding: 0;
    border: 2px solid #eee;
    text-align: center;
  }

  .listItem {
    padding: 7px 0;
    list-style-type: none;
    width: 100%;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    word-break: break-word;
  }

  .listItem:hover {
    background-color: #eee;
  }
</style>