<form class="form">
  <input class="downloadInput" type="text" name="sampleFile" ng-model="name" />
  <input class="downloadInput" type="text" name="sampleFile" ng-model="name" />
  <input class="downloadInput" type="text" name="sampleFile" ng-model="name" />

  <input class="downloadBtn btn" type='submit' ng-click="downloadGetFile" value='Download!' disabled />
  <input class="downloadBtn btn" type='submit' ng-click="downloadGetFile" value='Download!' disabled />

  <p class="errorMsg"></p>

</form>

<style>
  .download {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .downloadWrapper {
    margin-top: 20px;
    margin: 0 auto;
    height: auto;
  }

  .errorMsg {
    color: red
  }

  .btn {
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-weight: 400;
    padding: 10px 20px;
    margin-left: 15px;
    background-color: green;
  }


  .btn:hover {
    opacity: 0.75;
  }

  .btn:disabled {
    background-color: red;
  }
</style>