<!DOCTYPE html>
<html>

<head>
</head>

<body ng-init="name = 'Maxim'">
  <div class="container">
    <files-list ng-if="name" class="listWrssapper"></files-list>
    <download-form></download-form>
  </div>
</body>

</html>